* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    --transition-time: all .3s ease;
    min-width: 150px;
    color: #191919;
}
p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #787878;
    margin-top: 30px;
}
h1 {
    color: #1d1d1d;
    font-weight: 600;
    font-size: 36px;
}
h2 {
    font-weight: 600;
    color: #191919;
    font-size: 30px;
}
h3 {
    font-weight: 700;
    font-size: 12px;
    color: #000000;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.centered {
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 100;
    transition: var(--transition-time);
}
.logo {
    width: 62px;
}
.logo img{
    width: 100%;
    object-fit: cover;
    display: block;
}
.header-tittle {
    display: none;
    transition: var(--transition-time);
}
.menu {
    position: relative;
}
.nav-menu a {
    text-decoration: none;
    color: #191919;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: var(--transition-time);
}
.nav-menu > li:hover a {
    color: #10c9c3;
    transition: var(--transition-time);
}

.home-section {
    height: 100vh;
    position: relative;
}
.home-section > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.home-section > .container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: inherit;
}

/* Homescreen Section */
.homescreen-container {
    display: flex;
    align-items: center;
}
.homescreen-row {
    justify-content: flex-end;
}
.homescreen-content p {
    margin-top: 30px;
    background-color: rgba(255, 255, 255, .3);
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
}
.button {
    width: 180px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #10c9c3;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    color: white;
    margin-top: 35px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    transition: var(--transition-time);
}
form .button {
    margin-left: 15px !important;
}
.button a {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 45px;
}
.button:hover {
    transform: scale(1.03);
}

.home-arrow {
    position: absolute;
    width: 40px;
    height: 30px;
    bottom: 20px;
    left: 50%;
    transform: scale(.6) translateX(-50%);
    animation: home-arrow 1s ease-in-out infinite alternate-reverse;
    cursor: pointer;
}
@keyframes home-arrow {
    from { 
        bottom: 30px; 
    }
    to { 
        bottom: 20px;
    }
    }

.home-arrow::before,
.home-arrow::after {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    background-color: #191919;
    position: absolute;
    transform-origin: top;
    animation: home-arrow-color 1s ease-in-out infinite alternate-reverse;
}
@keyframes home-arrow-color {
    from {
        background-color: #949494;
    }
    to {
        background-color: #191919;
    }
}
.home-arrow::before {
    left: 0;
    transform: rotate(-40deg);
}
.home-arrow::after {
    right: 0;
    transform: rotate(40deg);
}

/* About Us */
.about-us-section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.about-us-content {
    text-align: center;
}
.about-us-text p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.08px;
    font-weight: 400;
}
.signature {
    height: 60px;
    margin-top: 35px;
}
.signature img {
    height: 100%;
    object-fit: cover;
}

/* Professional Skill */
.professional-skill {
    background-color: #f8f9f9;
    position: relative;
}
.professional-skill-content {
    padding-top: 50px;
    padding-bottom: 50px;
}
.progress-tittle {
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
}
.progress-tittle h3:last-child {
    margin-left: 10px;
}
.progress-bar {
    width: 100%;
    position: relative;
}
.background-bar {
    width: 100%;
    height: 3px;
    background-color: #d8d8d8;
}
.top-bar {
    height: 3px;
    background-color: #10c9c3;
    position: absolute;
    top: 0;
}

.professional-skill-background {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
}
.professional-skill-background img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Deg Section */
.deg-section {
    background-color: #10c9c3;
}
.icon {
    width: 40px;
    height: 40px;
    margin-right: 27px;
}
.icon img {
    width: 100%;
    object-fit: cover;
}
.deg-section-content {
    display: flex;
}
.deg-text h2 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.54px;
    color: white;
}
.deg-text h3 {
    color: white;
    margin-top: 10px;
    font-size: 12px;
}
/* Work-Cards */
.work-section-row {
    margin: 0 !important;
}
.work-card {
    position: relative;
    padding: 0 !important;
}
.work-card:hover .card-overlay{
    visibility: visible;
    opacity: .85;
}
.work-card img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.card-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #141414;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: var(--transition-time);
}
.card-icon {
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition: var(--transition-time);
}
.card-icon:hover {
    transform: scale(1.1);
}
.card-icon img {
    width: 100%;
    object-fit: scale-down;
}
.load-more-button {
    text-align: center;
    line-height: 100px;
    background-color: #f5f5f5;
    width: 100%;
    height: 100px;
    display: block;
    color: #8e8e8e;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    user-select: none;
    cursor: pointer;
    transition: var(--transition-time);
}
.load-more-button:hover {
    background-color: #8e8e8e;
    color: #f5f5f5;
}
.player-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transition: var(--transition-time);
}
.player-overlay > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.play-button {
    width: 85px;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: var(--transition-time);
}
.play-button > img {
    width: 100%;
    object-fit: cover;
}
.hide {
    visibility: hidden;
    opacity: 0;
}
/* Work Process */
.work-process-section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.work-process-content {
    text-align: center;
}
.player-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-top: 55px;
}
.player-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Features */
.features-section {
    padding-bottom: 50px;
    background-color: #f5f5f5;
}
.features-content {
    text-align: center;
    margin-top: 50px;
}
.features-icon {
    display: inline-block;
    width: 45px;
    height: 45px;
}
.features-icon img {
    widows: 100%;
    object-fit: cover;
}
.features-content h3 {
    margin-top: 25px;
}
.features-content p {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
}

/* Slider */
.slider-section {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #10c9c3;
}

/* Sponsors */
.sponsor-section {
    padding-bottom: 50px;
}
.sponsor-row {
    justify-content: space-around;
}
.sponsor-content {
    margin-top: 50px;
}

/* feedback-form */
.contact-section {
    background-color: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact-content {
    text-align: center;
}
.contact-content p {
    display: inline-block;
    max-width: 540px;
    line-height: 24px;
    letter-spacing: 0.08px;
}
.contact-form {
    margin-top: 40px;
}
.contact-form .row input {
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    padding: 20px;
    color: #787878;
    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 15px;
}
.contact-form textarea {
    width: 100%;
    height: 170px;
    padding: 20px;
    outline: none;
    border: none;
    resize: none;
    color: #787878;
    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 15px;
}
form .button {
    margin: 0;
}

/* Footer */
.footer {
    background-color: #141414;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer h4 {
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
    color: #ffffff;
    margin-bottom: 20px;
}
.footer p {
    color: #bcbcbc;
    font-family: "Nunito Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.07px;
    margin: 0;
}
.anchors a {
    text-decoration: none;
    color: #bcbcbc;
    font-family: "Nunito Sans";
    font-weight: 400;
    line-height: 24px;
    font-size: 15px;

}
.copyright, .contacts, .anchors {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* ADDITIONAL STYLES */


.light-grey {
    background-color: #f6f6f6;
}
.white {
    background-color: white;
}
.header-white {
    background-color: rgba(255, 255, 255, .95);
}
.header-padding {
    padding-top: 60px;
}
.green-overlay {
    background-color: #10c9c3;
}
.active {
    color: #10c9c3 !important;
}
.about-page {
    background-image: url(../images/about_photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.about-page p, .about-page h2 {
    color: white;
}
.about-overlay {
    width: 100%;
    height: 100%;
    background-color: #141414;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
}
.about-page > .container {
    z-index: 10;
    position: relative;
}
.about-page-row {
    justify-content: flex-end;
}
.about-page-left {
    right: unset;
    left: 0;
}
.about-page-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.about-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact-form {
    background-color: #f6f6f6;
}
.modal-form {
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
    position: relative;
}
.modal-tittle {
    text-align: center;
    padding-bottom: 30px;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-time);
    overflow: auto;
}
.modal-row {
    margin: 0;
}
.close-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}
.close-btn::before {
    display: block;
    content: '';
    width: 20px;
    height: 4px;
    background-color: #787878;
    transform-origin: center;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    transition: var(--transition-time);
}
.close-btn::after {
    display: block;
    content: '';
    width: 20px;
    height: 4px;
    background-color: #787878;
    transform-origin: center;
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    transition: var(--transition-time);
}

.close-btn:hover::before,
.close-btn:hover::after {
    background-color: #10c9c3;
}
.show {
    visibility: visible;
    opacity: 1;
}
.lock {
    overflow: hidden;
}
.contact-row {
    justify-content: space-around;
}
.contact-info > p {
    line-height: 24px;
    margin-bottom: 30px;
}
.contact-data span {
    font-weight: 700;
    color: #171717;
}
.contact-data p {
    margin-top: 20px;
}
.map-section {
    background-color: #f5f5f5;
}
.map-section {
    padding-bottom: 60px;
}
.map-section .container {
    padding: 0;
    height: 200px;
}
.map-section .container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SCROLL UP BTN */

.scroll-up {
    width: 50px;
    height: 50px;
    background-color: #8e8e8e;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
    animation: home-arrow 1s ease-in-out infinite alternate-reverse;
    transition: .5s;
}

.show-scroll-up {
    visibility: visible;
    opacity: .5;
}

.scroll-up a {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    transform-origin: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    outline: none;
}
.scroll-up-arrow {
    display: block;
    height: 35px;
    width: 7px;
    border-radius: 10px;
    background-color: #d8d8d8;
    position: absolute;
    transform-origin: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.scroll-up-arrow::before {
    display: block;
    content: '';
    height: 25px;
    width: 7px;
    background-color: #d8d8d8;
    border-radius: 10px;
    transform-origin: top center;
    position: absolute;
    top: 1px;
    left: 1px;
    transform: rotate(35deg);
}
.scroll-up-arrow::after {
    display: block;
    content: '';
    height: 25px;
    width: 7px;
    background-color: #d8d8d8;
    border-radius: 10px;
    transform-origin: top center;
    position: absolute;
    top: 1px;
    right: 1px;
    transform: rotate(-35deg);
}

/* Adaptive Grid */
/* Mobile */
@media(max-height: 500px) {
    .home-section {
        height: 500px;
    }
}
@media(max-width: 767px) {
    body.lock {
        overflow: hidden;
    }
    .header {
        height: 60px;
    }
    .logo {
        position: relative;
        z-index: 30;
    }
    .header-tittle {
        display: block;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 600;
        font-size: 18px;
        padding: 5px;
        z-index: 30;
        transition: var(--transition-time);
    }
    .header-tittle.active {
        color: #10c9c3;
        font-size: 14px;
        border: 2px solid #10c9c3;
        border-radius: 5px;
        background-color: #e9e9e9;
    }
    .nav-menu {
        display: block;
        position: fixed;
        text-align: center;
        overflow: auto;
        top: -100%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        padding: 60px;
        opacity: 0;
        background: linear-gradient(to bottom, #e9e9e9 50%, rgba(255, 255, 255, 0) 100%);
        z-index: 20;
        transition: var(--transition-time);
    }
    .nav-menu.active {
        top: 0%;
        opacity: 1;
    }
    .nav-menu li {
        padding: 12px;
    }
    .nav-menu a {
        font-size: 16px;
    }
    .header-burger {
        display: block;
        position: absolute;
        width: 30px;
        height: 20px;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 30;
        cursor: pointer;
    }
    .header-burger span {
        display: block;
        width: 100%;
        height: 3px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #191919;
        transform-origin: center;
        transition: var(--transition-time);
    }
    .header-burger::before,
    .header-burger::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #191919;
        transition: var(--transition-time);
    }
    .header-burger::after {
        bottom: 0;
    }
    .header-burger::before {
        top: 0;
    }
    .header-burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header-burger.active::after {
        transform: rotate(-45deg);
        bottom: 8px;
    }
    .header-burger.active span {
        transform: scale(0);
    }
    .homescreen-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .professional-skill-background {
        visibility: hidden;
    }
    .deg-section-row {
        justify-content: center;
    }
    .deg-section-content {
        padding-top: 50px;
    }
    .deg-section-content:last-child {
        padding-bottom: 50px;
    }
    .copyright {
        order: 4;
        text-align: center;
    }
    .contacts {
        order: 5;
        text-align: center;
    }
    .modal-tittle h2 {
        font-size: 20px;
    }
    .close-btn {
        right: 10px;
        top: 10px;
    }
}
/* Tablet */
@media(min-width: 768px) {
    .header {
        height: 80px;
    }
    .header-padding {
        padding-top: 100px;
    }
    .nav-menu {
        display: flex;
    }
    .nav-menu a {
        padding: 10px;
    }
    .homescreen-content p {
        line-height: 28px;
        font-size: 17px;
    }
    .about-us-text {
        width: 620px;
        display: block;
    }
    .professional-skill-content {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-right: 50px;
    }
    .about-us-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    /* .deg-section {
        padding-top: 100px;
        padding-bottom: 100px;
    } */
    .deg-section-content {
        padding-top: 50px;
    }
    .deg-section-content:last-child {
        padding-bottom: 50px;
    }
    .work-process-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .features-section {
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .slider-section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .sponsor-section {
        padding-top: 20px;
        padding-bottom: 70px;
    }
    .contact-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .contact-form .row input {
        margin-bottom: 30px;
    }
    .contact-form textarea {
        margin-bottom: 30px;
    }
    .about-page-content {
        padding-left: 85px;
    }
    .map-section {
        padding-bottom: 100px;
    }
    .map-section .container {
        height: 400px;
    }
}
/* Desktop */
@media(min-width: 1200px) {
    .header {
        height: 100px;
    }
    .nav-menu a {
        padding: 15px;
    }
    .professional-skill-content {
        padding-top: 165px;
        padding-bottom: 165px;
        padding-right: 85px;
    }
    .slider-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

