* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    --transition-time: all .3s ease;
    min-width: 150px;
    color: #191919;
}
p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #787878;
}

.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    overflow: hidden;
}
.logo {
    width: 62px;
}
.logo img{
    width: 100%;
    object-fit: cover;
    display: block;
}
.header-tittle {
    display: none;
}
.menu {
    position: relative;
}
.nav-menu a {
    text-decoration: none;
    color: #191919;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: var(--transition-time);
}
.nav-menu > li:hover a {
    color: #10c9c3;
    transition: var(--transition-time);
}
/* Adaptive Grid */
/* Mobile */
@media(max-width: 767px) {
    body.lock {
        overflow: hidden;
    }
    .header {
        height: 60px;
    }
    .logo {
        position: relative;
        z-index: 30;
    }
    .header-tittle {
        display: block;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 600;
        font-size: 18px;
        padding: 5px;
        z-index: 30;
        transition: var(--transition-time);
    }
    .header-tittle.active {
        color: #10c9c3;
        font-size: 14px;
        border: 2px solid #10c9c3;
        border-radius: 5px;
        background-color: #e9e9e9;
    }
    .nav-menu {
        display: block;
        position: fixed;
        text-align: center;
        overflow: auto;
        top: -100%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        padding: 60px;
        opacity: 0;
        background: linear-gradient(to bottom, #e9e9e9, rgba(255, 255, 255, 0));
        z-index: 20;
        transition: var(--transition-time);
    }
    .nav-menu.active {
        top: 0%;
        opacity: 1;
    }
    .nav-menu li {
        padding: 12px;
    }
    .nav-menu a {
        font-size: 16px;
    }
    .header-burger {
        display: block;
        position: absolute;
        width: 30px;
        height: 20px;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 30;
        cursor: pointer;
    }
    .header-burger span {
        display: block;
        width: 100%;
        height: 3px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #191919;
        transform-origin: center;
        transition: var(--transition-time);
    }
    .header-burger::before,
    .header-burger::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #191919;
        transition: var(--transition-time);
    }
    .header-burger::after {
        bottom: 0;
    }
    .header-burger::before {
        top: 0;
    }
    .header-burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header-burger.active::after {
        transform: rotate(-45deg);
        bottom: 8px;
    }
    .header-burger.active span {
        transform: scale(0);
    }
}
/* Tablet */
@media(min-width: 768px) {
    .header {
        height: 80px;
    }
    .nav-menu {
        display: flex;
    }
    .nav-menu a {
        padding: 10px;
    }
}
/* Desktop */
@media(min-width: 1200px) {
    .header {
        height: 100px;
    }
    .nav-menu a {
        padding: 15px;
    }
}